Repository Ecovibe-KE/EcoVibe, pull requests merged in 2025-09, with the labels that each got.

#26 feature: initialize flask app
  server/.gitignore
  server/Pipfile
  server/app.py
Labels: documentation, enhancement

#27 chore/initialize-react-with-vite
  client/.gitignore
  client/README.md
  client/eslint.config.js
  client/index.html
  client/package-lock.json
  client/package.json
  client/public/vite.svg
  client/src/App.css
  client/src/App.jsx
  client/src/assets/react.svg
  client/src/index.css
  client/src/main.jsx
  client/vite.config.js
Labels: enhancement, good first issue

#36 14 cicd with GitHub actions for frontend
  .github/workflows/client.yaml
  client/.gitignore
  client/jest.setup.js
  client/package-lock.json
  client/package.json
  client/src/sum.js
  client/src/tests/sum.test.js
  client/vite.config.js
Labels: client, CI/CD

#35 13 Setup ci/cd with GitHub actions on server
  .github/workflows/server.yaml
  server/Pipfile
  server/app.py
  server/tests/test_sample.py
Labels: server, CI/CD
